services:
  db:
    image: mysql:latest
    container_name: VideoGameDB
    environment:
      - MYSQL_ROOT_PASSWORD=dev123
      - MYSQL_DATABASE=GamesExchangeDB
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
      - ./SQL/DBSetup.sql:/docker-entrypoint-initdb.d/DBSetup.sql:ro
    networks:
      - distributed_network

  api:
    deploy:
      replicas: 2
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=dev123
      - DB_NAME=GamesExchangeDB
      - KAFKA_HOST=kafka-broker
      - KAFKA_PORT=9092
    build:
      context: .
    depends_on:
      - db
      - kafka
    ports:
      - "7156-7157:7156"
    networks:
      - distributed_network

  nginx:
    container_name: Nginx
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - api
    networks:
      - distributed_network

  kafka:
    image: apache/kafka:latest
    container_name: kafka-broker
    hostname: kafka-broker
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker:9092,CONTROLLER://kafka-broker:9093,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    volumes:
      - ./kafka/data:/var/lib/kafka/data
    networks:
      - distributed_network
# This Kafka instance could not have been made without the help of Google Gemini
# No matter what I tried, I would run into errors with the env variables & getting it running.
# Then I had issues with getting the messages to appear in the consumer.
# I caved and used Gemini to help me figure it out since documentation/tinkering can only get me so far apparently.
# It was all because of the KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR variable being missing...

  email-service:
    build:
      context: ./email-service
    container_name: EmailService
    environment:
      - KAFKA_HOST=kafka-broker
      - KAFKA_PORT=9092
    depends_on:
      - kafka
      - api
    networks:
      - distributed_network
    env_file:
      - ./email-service/credentials.env

networks:
  distributed_network:
    driver: bridge

volumes:
  db-data: