services:
  db:
    image: mysql:latest
    container_name: VideoGameDB
    environment:
      - MYSQL_ROOT_PASSWORD=dev123
      - MYSQL_DATABASE=GamesExchangeDB
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
      - ./SQL/DBSetup.sql:/docker-entrypoint-initdb.d/DBSetup.sql
    networks:
      - distributed_network
  api:
    container_name: VideoGameApi
    environment:
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=dev123
      - DB_NAME=GamesExchangeDB
    build:
      context: .
    depends_on:
      - db
    ports:
      - 7156:7156
    networks:
      - distributed_network
  api2:
    container_name: VideoGameApi2
    environment:
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=dev123
      - DB_NAME=GamesExchangeDB
    build:
      context: .
    depends_on:
      - db
    ports:
      - 7157:7156
    networks:
      - distributed_network
  web:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - api
      - api2
    networks:
      - distributed_network

networks:
  distributed_network:
    driver: bridge

volumes:
  db-data: